<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}">

<head>
  <title>Inbox notifications</title>
</head>

<body>
  <div layout:fragment="content">
    <h1>Notifications</h1>
    <p class="fs-5 mb-3">
      Notifications should appear below when new messages are delivered to
      <span th:text="${user.displayName}">Test User</span>'s inbox.
    </p>
    <div class="d-flex">
      <div class="fs-4 me-2" th:text="${user.displayName}">Test User</div>
      <button class="btn btn-outline-secondary me-2" type="button" data-bs-toggle="collapse"
        data-bs-target="#subscriptionDisplay">
        Show subscription
      </button>
      <a class="btn btn-outline-secondary" href="home.html"
        th:href="@{/unsubscribe(subscriptionId=${subscriptionId})}">Delete subscription</a>
    </div>
    <div class="collapse mt-3" id="subscriptionDisplay">
      <pre class="wrapped-pre border bg-light p-2"><code th:text="${subscription}">Subscription here</code></pre>
    </div>
    <hr />
    <table class="table" aria-label="notifications">
      <thead>
        <tr>
          <th id="subject">Subject</th>
          <th id="msgId">ID</th>
        </tr>
      </thead>
      <tbody id="notifications"></tbody>
    </table>

    <script src="https://cdn.jsdelivr.net/npm/socket.io-client@2.4.0/dist/socket.io.js"></script>
    <script th:inline="javascript">
      const socket = io('http://localhost:8081/emitNotification');

      socket.on('notificationReceived', (notificationData) => {
        console.log(
          `Received notification: ${JSON.stringify(notificationData)}`
        );

        // Create a new table row with data from the notification
        const tableRow = document.createElement('tr');

        const subjectCell = document.createElement('td');
        subjectCell.innerText = notificationData.subject;
        tableRow.appendChild(subjectCell);

        const idCell = document.createElement('td');
        idCell.innerText = notificationData.id;
        tableRow.appendChild(idCell);

        document.getElementById('notifications').appendChild(tableRow);
      });

      // Create a room for the subscription ID
      const subscriptionId = /*[[${subscriptionId}]]*/ 'invalid';
      socket.emit('create_room', subscriptionId);
    </script>
  </div>
</body>

</html>
